<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/106614.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/106614.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/177612.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/177612.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/182412.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/182412.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/472992.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/472992.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/554018.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/554018.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/637837.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/637837.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/638269.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/638269.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/638351.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/638351.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/640339.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/640339.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/725376.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/725376.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/885445.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/885445.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/885481.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/885481.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/999605.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/999605.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/1001957.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/1001957.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/1027579.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/1027579.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/1056379.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/1056379.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/2024764.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/2024764.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/2031070.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/2031070.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/2051430.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/2051430.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/2054210.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/2054210.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/2055742.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/2055742.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/2058102.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/2058102.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/2063750.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/2063750.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/2064098.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/2064098.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/2064202.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/2064202.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/2064206.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/2064206.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/2064226.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/2064226.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/2064262.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/2064262.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/2073118.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/2073118.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/2073634.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/2073634.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/2109044.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/2109044.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/2109066.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/2109066.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/2024648.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/2024648.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/2024668.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/2024668.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/2057330.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/2057330.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/2063954.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/2063954.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/2064362.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/2064362.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/2064372.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/2064372.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/2078460.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/2078460.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/2078732.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/2078732.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/2104648.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/2104648.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/2104852.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/2104852.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/4319095.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/4319095.png</string>
	</array>
</array>
</plist>
