<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/92192.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/92192.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/105808.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/105808.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/123096.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/123096.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/123242.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/123242.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/266295.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/266295.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/375177.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/375177.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/397828.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/397828.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/537114.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/537114.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/872149.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/872149.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/944189.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/944189.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/947647.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/947647.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/947679.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/947679.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/947983.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/947983.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/961309.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/961309.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/994491.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/994491.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/994501.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/994501.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/995891.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/995891.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/1001643.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/1001643.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/1018305.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/1018305.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/1022687.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/1022687.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/1024459.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/1024459.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/1028047.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/1028047.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/1038469.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/1038469.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/1056159.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/1056159.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/1056327.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/1056327.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/2057288.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/2057288.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/2060372.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/2060372.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/2060788.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/2060788.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/2061930.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/2061930.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/25334421.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/25334421.png</string>
	</array>
</array>
</plist>
