<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/105808.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/105808.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/337701.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/337701.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/338717.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/338717.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/473046.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/473046.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/537114.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/537114.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/637601.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/637601.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/637789.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/637789.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/886485.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/886485.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/886815.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/886815.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/888333.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/888333.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/958387.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/958387.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/995741.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/995741.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/995771.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/995771.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/995871.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/995871.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/995915.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/995915.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/995921.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/995921.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/995929.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/995929.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/995955.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/995955.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/995967.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/995967.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/995981.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/995981.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/995983.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/995983.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/995987.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/995987.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/995989.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/995989.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/995995.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/995995.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/996017.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/996017.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/996037.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/996037.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/996171.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/996171.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/999605.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/999605.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/1006007.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/1006007.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/1007007.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/1007007.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/1007011.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/1007011.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/1022521.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/1022521.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/1037585.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/1037585.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/1037589.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/1037589.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/1038565.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/1038565.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/1038659.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/1038659.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/1038685.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/1038685.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/1061759.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/1061759.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/2052818.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/2052818.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/2052982.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/2052982.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/2053034.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/2053034.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/2053504.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/2053504.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/2053554.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/2053554.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/2053686.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/2053686.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/2053702.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/2053702.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/2053718.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/2053718.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/2054200.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/2054200.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/2057288.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/2057288.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/2102744.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/2102744.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/2103596.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/2103596.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/2103776.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/2103776.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/4370785.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/4370785.png</string>
	</array>
</array>
</plist>
