<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/105842.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/105842.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/680199.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/680199.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/886851.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/886851.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/105808.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/105808.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/123096.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/123096.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/338719.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/338719.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/535828.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/535828.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/638369.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/638369.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/640049.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/640049.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/725818.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/725818.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/885683.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/885683.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/886459.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/886459.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/872167.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/872167.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/886373.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/886373.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/886815.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/886815.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/886929.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/886929.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/888347.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/888347.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/888411.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/888411.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/996145.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/996145.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/1005271.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/1005271.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/1005585.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/1005585.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/1017329.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/1017329.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/1017827.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/1017827.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/1018305.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/1018305.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/1038469.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/1038469.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/2055546.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/2055546.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/2061782.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/2061782.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/2061794.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/2061794.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/2061810.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/2061810.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/2061930.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/2061930.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/2061958.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/2061958.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/2062418.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/2062418.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/2080488.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/2080488.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/2104792.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/2104792.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/2104884.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/2104884.png</string>
	</array>
</array>
</plist>
