<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/27530.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/27530.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/54946.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/54946.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/58084.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/58084.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/183410.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/183410.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/323557.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/323557.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/473084.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/473084.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/491484.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/491484.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/533328.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/533328.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/875701.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/875701.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/884513.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/884513.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/899957.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/899957.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/941733.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/941733.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/1024715.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/1024715.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/1036273.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/1036273.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/1036283.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/1036283.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/1004691.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/1004691.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/1040535.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/1040535.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/1063389.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/1063389.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/2055642.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/2055642.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/2055720.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/2055720.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/2063842.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/2063842.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/2064002.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/2064002.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/2109124.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/2109124.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/2111980.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/2111980.png</string>
	</array>
</array>
</plist>
