<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/342809.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/342809.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/885683.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/885683.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/887883.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/887883.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/995731.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/995731.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/995981.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/995981.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/995989.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/995989.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/1005271.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/1005271.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/1005505.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/1005505.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/1034941.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/1034941.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/1039843.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/1039843.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/1056535.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/1056535.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/1061835.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/1061835.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/1062139.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/1062139.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/1063577.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/1063577.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/2053034.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/2053034.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/2055642.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/2055642.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/2055806.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/2055806.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/2064226.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/2064226.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/2071686.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/2071686.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/2081436.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/2081436.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/2111980.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/2111980.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/2112042.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/2112042.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/2148948.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/2148948.png</string>
	</array>
</array>
</plist>
