<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/93672.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/93672.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/123096.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/123096.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/177640.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/177640.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/637679.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/637679.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/638241.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/638241.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/638367.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/638367.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/638389.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/638389.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/885683.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/885683.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/885759.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/885759.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/885915.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/885915.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/888347.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/888347.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/995725.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/995725.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/995731.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/995731.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/995745.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/995745.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/995783.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/995783.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/995841.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/995841.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/995843.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/995843.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/995891.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/995891.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/995911.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/995911.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/995917.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/995917.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/995919.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/995919.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/996005.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/996005.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/1017329.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/1017329.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/1038179.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/1038179.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/1038529.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/1038529.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/1039249.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/1039249.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/2058504.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/2058504.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/2060288.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/2060288.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/2060320.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/2060320.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/2060372.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/2060372.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/2060424.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/2060424.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/2060588.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/2060588.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/2060596.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/2060596.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/2060620.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/2060620.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/2060788.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/2060788.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/2060932.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/2060932.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/2080524.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/2080524.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/2102668.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/2102668.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/2104684.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/2104684.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/2104816.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/2104816.png</string>
	</array>
</array>
</plist>
