<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/177612.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/177612.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/725376.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/725376.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/872149.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/872149.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/872151.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/872151.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/872167.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/872167.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/872211.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/872211.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/886459.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/886459.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/886485.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/886485.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/995741.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/995741.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/995745.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/995745.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/995917.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/995917.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/998107.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/998107.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/999561.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/999561.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/999605.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/999605.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/999607.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/999607.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/999689.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/999689.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/1000131.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/1000131.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/1001729.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/1001729.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/1001801.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/1001801.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/1036343.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/1036343.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/1063499.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/1063499.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/2109044.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/2109044.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/2109092.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/2109092.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/2031070.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/2031070.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/2054210.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/2054210.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/2060932.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/2060932.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/2062222.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/2062222.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/2062418.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/2062418.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/2063842.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/2063842.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/2063954.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/2063954.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/2064002.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/2064002.png</string>
	</array>
</array>
</plist>
