<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/28322.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/28322.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/56814.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/56814.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/94698.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/94698.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/94824.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/94824.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/94758.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/94758.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/94902.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/94902.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/94956.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/94956.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/94958.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/94958.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/181762.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/181762.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/265905.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/265905.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/267595.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/267595.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/267733.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/267733.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/268217.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/268217.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/323555.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/323555.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/338719.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/338719.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/257684.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/257684.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/266633.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/266633.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/267701.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/267701.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/299157.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/299157.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/429416.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/429416.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/445912.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/445912.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/472950.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/472950.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/473054.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/473054.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/535804.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/535804.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/637081.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/637081.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/637179.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/637179.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/692671.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/692671.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/741081.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/741081.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/875509.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/875509.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/886751.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/886751.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/942109.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/942109.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/1001783.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/1001783.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/1001815.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/1001815.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/1001965.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/1001965.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/1004141.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/1004141.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/1005505.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/1005505.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/1007619.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/1007619.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/1007675.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/1007675.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/1023943.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/1023943.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/1024021.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/1024021.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/1034995.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/1034995.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/1035873.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/1035873.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/1035915.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/1035915.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/1036031.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/1036031.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/1036139.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/1036139.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/1036273.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/1036273.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/1036283.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/1036283.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/1036313.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/1036313.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/1036319.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/1036319.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/1036381.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/1036381.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/1036463.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/1036463.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/1036693.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/1036693.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/1036713.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/1036713.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/1036725.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/1036725.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/1036867.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/1036867.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/1036939.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/1036939.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/1036961.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/1036961.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/1037085.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/1037085.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/1037899.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/1037899.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/1037901.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/1037901.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/1038043.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/1038043.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/1038343.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/1038343.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/1038475.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/1038475.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/1038479.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/1038479.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/1040055.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/1040055.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/1040535.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/1040535.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/1040659.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/1040659.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/2026052.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/2026052.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/2030322.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/2030322.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/2030526.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/2030526.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/2030530.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/2030530.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/2030618.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/2030618.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/2055564.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/2055564.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/2055594.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/2055594.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/2055640.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/2055640.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/2055642.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/2055642.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/2055670.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/2055670.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/2055720.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/2055720.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/2055806.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/2055806.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/2055826.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/2055826.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/2055838.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/2055838.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/2058166.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/2058166.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/2058576.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/2058576.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/2058600.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/2058600.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/2059712.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/2059712.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/2059716.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/2059716.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/2059900.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/2059900.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/2062014.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/2062014.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/2062222.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/2062222.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/2062670.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/2062670.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/2063178.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/2063178.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/2063842.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/2063842.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/2064002.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/2064002.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/2073318.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/2073318.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/2077896.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/2077896.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/2079560.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/2079560.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/2080408.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/2080408.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/2081524.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/2081524.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/2096848.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/2096848.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/2104692.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/2104692.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/2106594.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/2106594.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/2109092.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/2109092.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/2109124.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/2109124.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/2110482.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/2110482.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/2111944.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/2111944.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/2111980.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/2111980.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/2112042.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/2112042.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/2112128.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/2112128.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/2114276.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/2114276.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/2545297.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/2545297.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/15387428.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/15387428.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/25181199.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/25181199.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/25315995.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/25315995.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/25454841.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/25454841.png</string>
	</array>
</array>
</plist>
