<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/637679.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/637679.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/637847.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/637847.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/765609.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/765609.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/868687.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/868687.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/874613.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/874613.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/995983.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/995983.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/1027579.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/1027579.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/1027601.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/1027601.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/1027723.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/1027723.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/1027809.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/1027809.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/1028265.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/1028265.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/1029123.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/1029123.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/1029693.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/1029693.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/1030025.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/1030025.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/1030075.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/1030075.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/1034967.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/1034967.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/2052982.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/2052982.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/2077180.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/2077180.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/2077420.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/2077420.png</string>
	</array>
</array>
</plist>
