<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/338583.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/338583.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/637601.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/637601.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/886815.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/886815.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/899203.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/899203.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/995843.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/995843.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/995871.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/995871.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/1001617.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/1001617.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/1026957.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/1026957.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/1033293.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/1033293.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/1033299.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/1033299.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/1034501.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/1034501.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/1034709.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/1034709.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/1034869.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/1034869.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/1037469.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/1037469.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/1037493.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/1037493.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/1037549.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/1037549.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/1037585.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/1037585.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/1037589.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/1037589.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/1037629.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/1037629.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/1037721.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/1037721.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/1037801.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/1037801.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/1037855.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/1037855.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/1037871.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/1037871.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/1037945.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/1037945.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/1037965.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/1037965.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/1038043.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/1038043.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/1038095.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/1038095.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/1038099.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/1038099.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/1038109.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/1038109.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/1038111.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/1038111.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/1038113.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/1038113.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/1038115.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/1038115.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/1038117.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/1038117.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/1038155.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/1038155.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/1038163.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/1038163.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/1038165.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/1038165.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/1038179.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/1038179.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/1038181.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/1038181.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/1038189.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/1038189.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/1038191.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/1038191.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/1038207.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/1038207.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/1038213.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/1038213.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/1038215.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/1038215.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/1038227.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/1038227.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/1038235.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/1038235.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/1038241.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/1038241.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/1038305.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/1038305.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/1038309.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/1038309.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/1038321.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/1038321.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/1038411.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/1038411.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/1038415.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/1038415.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/1038427.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/1038427.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/1038475.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/1038475.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/1038479.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/1038479.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/1038505.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/1038505.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/1038603.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/1038603.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/1038621.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/1038621.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/1038627.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/1038627.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/1038659.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/1038659.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/1039041.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/1039041.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/1039249.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/1039249.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/1039459.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/1039459.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/1039487.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/1039487.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/1056075.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/1056075.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/2053554.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/2053554.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/2053718.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/2053718.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/2060596.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/2060596.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/2064174.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/2064174.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/2102668.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/2102668.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/2102744.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/2102744.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/2103520.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/2103520.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/2103596.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/2103596.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/2105432.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/2105432.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/2105686.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/2105686.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/2106580.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/2106580.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/2106594.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/2106594.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/2106622.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/2106622.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/2108264.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/2108264.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/2108288.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/2108288.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/2108396.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/2108396.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/2113332.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/2113332.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/2113568.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/2113568.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/2114276.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/2114276.png</string>
	</array>
</array>
</plist>
