<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/94824.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/94824.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/94958.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/94958.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/1001715.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/1001715.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/1001783.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/1001783.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/1001795.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/1001795.png</string>
	</array>
</array>
</plist>
