<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/75906.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/75906.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/94752.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/94752.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/158876.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/158876.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/196672.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/196672.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/266295.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/266295.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/266683.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/266683.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/293781.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/293781.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/342381.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/342381.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/358217.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/358217.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/389639.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/389639.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/429512.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/429512.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/473050.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/473050.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/598050.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/598050.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/598114.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/598114.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/637209.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/637209.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/637847.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/637847.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/640423.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/640423.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/640437.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/640437.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/640479.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/640479.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/726036.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/726036.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/741485.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/741485.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/868823.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/868823.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/870595.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/870595.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/872149.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/872149.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/872151.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/872151.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/872211.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/872211.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/872753.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/872753.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/874963.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/874963.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/875863.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/875863.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/877607.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/877607.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/878841.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/878841.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/878883.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/878883.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/878979.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/878979.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/880323.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/880323.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/884513.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/884513.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/887269.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/887269.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/887883.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/887883.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/888009.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/888009.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/888023.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/888023.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/899957.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/899957.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/942873.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/942873.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/996913.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/996913.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/997031.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/997031.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/998107.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/998107.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/1001581.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/1001581.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/1001599.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/1001599.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/1001617.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/1001617.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/1001643.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/1001643.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/1002729.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/1002729.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/1004445.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/1004445.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/1004691.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/1004691.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/1017907.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/1017907.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/1019545.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/1019545.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/1020771.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/1020771.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/1025001.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/1025001.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/1027199.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/1027199.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/1027207.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/1027207.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/1027809.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/1027809.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/1029693.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/1029693.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/1030025.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/1030025.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/1030075.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/1030075.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/1037469.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/1037469.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/1037719.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/1037719.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/1037855.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/1037855.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/1037871.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/1037871.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/1038109.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/1038109.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/1038179.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/1038179.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/1038181.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/1038181.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/1038189.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/1038189.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/1038207.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/1038207.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/1038321.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/1038321.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/1038353.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/1038353.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/1039459.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/1039459.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/1039773.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/1039773.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/1039813.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/1039813.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/1039843.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/1039843.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/1039875.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/1039875.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/1039993.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/1039993.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/1056535.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/1056535.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/1056555.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/1056555.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/1061835.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/1061835.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/1109708.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/1109708.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/2030730.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/2030730.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/2030806.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/2030806.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/2030812.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/2030812.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/2030832.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/2030832.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/2030846.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/2030846.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/2030862.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/2030862.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/2048924.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/2048924.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/2054624.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/2054624.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/2055286.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/2055286.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/2055640.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/2055640.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/2055720.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/2055720.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/2059300.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/2059300.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/2060444.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/2060444.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/2062008.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/2062008.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/2063190.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/2063190.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/2064202.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/2064202.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/2064372.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/2064372.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/2069898.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/2069898.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/2073082.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/2073082.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/2077848.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/2077848.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/2079596.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/2079596.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/2079740.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/2079740.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/2079780.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/2079780.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/2080552.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/2080552.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/2081220.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/2081220.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/2081436.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/2081436.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/2103520.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/2103520.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/2104924.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/2104924.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/2108264.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/2108264.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/2108288.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/2108288.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/2108396.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/2108396.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/2109016.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/2109016.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/2113568.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/2113568.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/2148160.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/2148160.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/2148304.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/2148304.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/2148536.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/2148536.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/2148948.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/2148948.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/2149132.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/2149132.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/2150288.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/2150288.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/2150324.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/2150324.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/2150710.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/2150710.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/20364132.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/20364132.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/20441454.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/20441454.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/25140417.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/25140417.png</string>
	</array>
</array>
</plist>
