<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/158876.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/158876.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/210624.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/210624.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/266133.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/266133.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/637031.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/637031.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/637107.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/637107.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/637179.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/637179.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/637209.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/637209.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/637761.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/637761.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/637955.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/637955.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/640423.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/640423.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/640479.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/640479.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/1001815.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/1001815.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/2070568.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/2070568.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/2071140.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/2071140.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/2030322.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/2030322.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/2030526.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/2030526.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/2030806.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/2030806.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/2030812.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/2030812.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/2030846.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/2030846.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/2030862.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/2030862.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/2055286.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/2055286.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/2079580.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/2079580.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/2079592.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/2079592.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/2148160.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/2148160.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/4319413.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/4319413.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/8712229.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/8712229.png</string>
	</array>
	<array>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/thumb/20364132.png</string>
		<string>http://www.someecards.com/proxy.php?url=usercards/cardimages/full/20364132.png</string>
	</array>
</array>
</plist>
